---
---

<!-- NavBar.astro -->
<header class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
	  <a class="navbar-brand" href="/">Logo</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="/filo/">Filomuz</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/page2">Sayfa 2</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/page3">Sayfa 3</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/page4">Sayfa 4</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/page5">Sayfa 5</a>
		  </li>
		</ul>
	  </div>
	</div>
  </header>
  